@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import "~bootstrap/scss/bootstrap";
@import "~katex/dist/katex";


$main-font: 'Quicksand', sans-serif;

html, body {
	background: #fff;
	font-family: $main-font;
}

.navbar-brand {
	font-size: 1.8em;
}

section > h2 {
    margin-bottom: 1.4rem;
    border-bottom: 1px solid #ccc;
}

section.concept {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
        // border-bottom: 1px solid #ccc;
    }
}

// Container Customization

.container{
    //
}

@media (min-width: 1200px) {
    .container{
        max-width: 920px;
    }
}
@media (min-width: 992px) {
	.container{
        max-width: 880px;
    }
}
@media (min-width: 768px) {
	.container{
        max-width: 720px;
    }
}